<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
<head th:replace="~{layout/plantilla :: head}">
        <title>Practica01</title>
        <meta charset="UTF-8"/>
    </head>
    
<body>
    <!-- Fragmento de Header -->
    <section th:fragment="header">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Practica01</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
    <!-- Fragmento de Footer -->
    <div th:fragment="footer">
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">© 2024 Practica01. Nos derechos reservados.</span>
            </div>
        </footer>
    </div>
</body>
</html>
